<h2>Schedules</h2>

<div *ngIf="schedules && schedules.length > 0; else no_schedules">
  <button (click)="prev()">&laquo;</button>
  {{current}} / {{schedules.length}}
  <button (click)="next()">&raquo;</button>

  <h3>Schedule {{current}}</h3>
  <ul *ngIf="schedules[current].events.length > 0; else empty_schedule">
    <li *ngFor="let dayOfEvents of byDay(schedules[current])">
      {{dayOfEvents[0].day | weekday}}
      <ul>
        <li *ngFor="let event of dayOfEvents">
        {{event.startMinute | fromMinutes}}-{{
          event.endMinute | fromMinutes}}
        {{event.group.course.name}}
        -
        {{event.group.type}} {{event.group.id}} @ {{event.location}}
        ({{event.group.teachers}})
        </li>
      </ul>
    </li>
  </ul>

  <ng-template #empty_schedule>
    <i>This is an empty schedule</i>
  </ng-template>
</div>

<ng-template #no_schedules>
  No possible schedules :(
</ng-template>
