<h2>Selected courses</h2>

<div>
  <ul>
    <li *ngFor="let course of selectedCourses">
      <button (click)="removeCourse(course)">-</button>
      {{course.id}} {{course.name}}
    </li>
  </ul>
</div>

<button (click)="getSchedules()">Generate schedules</button>

<div *ngIf="schedules">
  <app-schedule-viewer [schedules]="schedules"></app-schedule-viewer>
</div>

<h2>Faculties</h2>

<div *ngIf="catalog">
  <ul>
    <li *ngFor="let faculty of catalog.faculties">
      {{faculty.name}}
      <ul>
        <li *ngFor="let course of faculty.courses">
          <button (click)="addCourse(course)">+</button>
          {{course.id}} {{course.name}}
        </li>
      </ul>
    </li>
  </ul>
</div>
