<h2>Selected courses</h2>

<div>
  <ul>
    <li *ngFor="let course of selectedCourses">
      <button (click)="removeCourse(course)">-</button>
      {{course.id}} {{course.name}}
      <ul>
        <li *ngFor="let group of course.groups">
          Group {{group.id}} ({{group.type}})
          <ul>
            <li *ngFor="let event of group.events">
              Day {{event.day}}, {{event.startMinute}}-{{event.endMinute}}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

<h2>Faculties</h2>

<div *ngIf="catalog">
  <ul>
    <li *ngFor="let faculty of catalog.faculties">
      {{faculty.name}}
      <ul>
        <li *ngFor="let course of faculty.courses">
          <button (click)="addCourse(course)">+</button>
          {{course.id}} {{course.name}}
        </li>
      </ul>
    </li>
  </ul>
</div>
